<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INeitStoreOrdersService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55890/NeitStoreOrdersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INeitStoreOrdersService"
                contract="ServiceReference1.INeitStoreOrdersService" name="BasicHttpBinding_INeitStoreOrdersService" />
        </client>
    </system.serviceModel>
</configuration>